<footer class='second-fotter'>
  <ul class='second-fotter-text-wrap'>
    <li><%= link_to '会社概要（運営会社)', "#", class: "second-footer-text" %></li>
    <li><%= link_to 'プライバシーポリシー', "#", class: "second-footer-text" %></li>
    <li><%= link_to 'Okurimono利用規約', "#", class: "second-footer-text" %></li>
  </ul>
  <%= link_to 'Okurimono', '/', class:"second-footer-okurimono" %>
</footer>